<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006146226068-s4ai7shd94fokoclhdk26q40nld9p0u7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006146226068-s4ai7shd94fokoclhdk26q40nld9p0u7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1006146226068-1i3t6e6r40fo8o6qjopj1tbd6phknqcv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvKIFpdyDB-3Xv7eK03VOhsk7ovYVC_uY</string>
	<key>GCM_SENDER_ID</key>
	<string>1006146226068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bido.equeue.com</string>
	<key>PROJECT_ID</key>
	<string>equeue-76657</string>
	<key>STORAGE_BUCKET</key>
	<string>equeue-76657.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006146226068:ios:4550485a43d7144bf4b181</string>
	<key>DATABASE_URL</key>
	<string>https://equeue-76657.firebaseio.com</string>
</dict>
</plist>